img{
  display: block;
  max-width: 100%;
  height: auto;
  align-items: center;
}

.image-div img{
  align-items: center;
}

.head-title{
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
}

.albums{
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
  max-width: 1400px; 
  padding: 20px 10px;
  gap: 20px; 
}

li{
  margin-top: 0.5rem;
}

.image-caption p{
  margin-top: 0.5rem;
  text-align: center;
}


main{
  background-color: #718562;
  margin: auto;
}

body{
  background-color: #718562;
}

*{
  font-family: "Lucida Console", monospace;
}

.albums img{
  width: 300px; 
  max-width: 350px; 
  height: 300px; 
  object-fit: cover; 
}

